.cell {
    width: 300px;
    height: 160px;
    border: 1px solid #464e58;

    border-left: 1px solid transparent;
    border-top: 1px solid transparent;

    display: flex;
    flex-direction: column;
}

.cell-horizontal {
    flex: 1;

    display: flex;
}

.cell-horizontal:first-child {
    border-bottom: 1px solid #cdcdcd;
}

.cell-horizontal .cell-vertical:first-child {
    border-right: 1px solid #cdcdcd;
}

.cell-vertical {
    flex: 1;
}