.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 60px;
    background: #e6e8e9;
    box-shadow: 1px 0 3px 0px rgba(0, 0, 0, 0.2);
    
    z-index: 10;
}

.header-btn {
    height: 60px;

    content: "";
    background-size: 70%;

    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    background-color: #e6e8e9;

    transition: 0.1s;
}

.header-btn:hover {
    background-color: #d4d4d4;
  
}

#logobtn {
    background-image: url(/logo.png);
}

#exitbtn {
    position: absolute;
    width: 100%;
    height: 60px;

    bottom: 0;
}

.main-content {
    position: fixed;
    top: 0;
    left: 60px;
    bottom: 0;
    right: 0;

    z-index: 9;

    background: #ffffff;
}

h1 {
    margin: 10px 0 10px 0;
    font-weight: 600;
}

.padding {
    padding: 30px;
}

.lr-input {

}

.lr-input input {
    border: none;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 8px 20px 10px 20px;
    font-size: 18px;
    width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    outline: none;
}

.lr-tags {
    display: flex;
    flex-wrap: wrap;
}

.ls-tags-item {
    margin: 10px 10px 0 0;
    padding: 8px 10px 5px 10px;
    border-radius: 5px;
    color: #ffffff;
    background: #4187d8;
    font-size: 12px;
    font-weight: 600;
}

.tag-new {
    margin: 10px 10px 0 0;
    display: inline-block;

}

.lr-records-head {
    display: flex;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #cdcdcd;
    color: #757575;
    font-weight: 700;
    font-size: 14px;
}


.tag-new input {
    border: none;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 8px 15px 10px 15px;
    font-size: 12px;
    width: 70px;
    font-family: 'Nunito', sans-serif;

    outline: none;
}

.lr-records {
    padding: 20px 0 0 0;
}

.ls-records-item {
    display: flex;

    justify-content: space-between;
    padding: 10px;

    cursor: pointer;

    transition: 0.1s;

    background: #ebebeb;
    margin-top: 5px;
    border-radius: 5px;
}

.ls-records-item:hover {
    background: #e2e2e2;
}

.rc-lec, .rc-prc,.rc-lab, .rc-tag {
    flex: 1;
    text-align: left;
    padding: 0 0 0 20px;
    overflow: hidden;

    min-width: 50px;
}

.rc-lec, .rc-prc,.rc-lab {
    text-align: center;
}

.lesson-panel-desc {
    padding-bottom: 20px;
}

.rc-tag {
    font-weight: 700;
}

.rc-name {
    flex: 20;
    text-align: left;
    padding: 0 0 0 20px;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;
}

.rc-stat {
    flex: 4;
    overflow: hidden;
    min-width: 150px;
}

.lesson-rule {
    padding-left: 20px;
    border-left: 1px solid #c4c4c4;
    margin-left: 40px;

    position: relative;
}

.record-new {

    text-transform: lowercase;

    display: inline-block;
    padding: 6px 15px 8px 15px;
    border-radius: 3px;
    margin-top: 20px;

    font-size: 14px;

    background: #4187d8;
    color: #ffffff;

    font-weight: 600;

    cursor: pointer;

    transition: 0.1s;
}

.record-new:hover {

    background: #32649e;

    color: #ffffff;
}

.rc-progress {
    width: 150px;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;

    margin-top: 5px;

    display: flex;
}

.rc-p-s {
    background: #80d3a0;
}

.rc-p-p {
    background: #49a16b;
}

.rc-p-l {
    background: #1e4e31;
}

.lr-controls {
    position: absolute;
    left: -40px;
    height: 100%;
}

.lr-c-btn {
    width: 30px;
    height: 30px;

    background: #ebebeb;
    border-radius: 15px;

    cursor: pointer;
    user-select: none;

    text-align: center;
    line-height: 30px;

    margin-bottom: 5px;

    font-size: 12px;
    font-weight: 800;

    transition: 0.1s;
}

.lr-c-btn:hover {
    background: #cfcfcf;
}

.btn-red:hover {
    background: #da5e5e;
    color: #ffffff;
}

.btn-blue {
    line-height: 28px;
    font-size: 18px;
}

.btn-blue:hover {
    background: #4187d8;
    color: #ffffff;
}

.btn-bottom {
    position: absolute;
    bottom: -5px;
}